img{
    width: 50px;
    height: 50px;
}

.text-center{
    text-align: center;
}

label{
    font-weight: bold;
}

.form-group  input:focus {
	outline: none;
	border-color: rgb(139, 130, 130);
}

.form-group.success input {
	border-color: #2ecc71;
}

.form-group.error input {
	border-color: #e74c3c;
}

.form-group i{
    visibility: hidden;
}

.form-group.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-group small{
    color: #e74c3c;
    visibility: hidden;
}

.form-group.error small {
	visibility: visible;
}